h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 80px;
  margin-bottom: 0;
}

.about-content {
  width: 70%;
}

span {
  font-size: 21px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }

  p {
    width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  .about-content {
    width: 100%;
    text-align: center !important;
    margin: 0 auto !important;
    display: block;
  }
}
